*.db
*.ipch
*.opendb
*.user
*.log
*.exe
*.tlog
*.obj
*.exp
*.pdb
*.lib
*.suo
*.ilk
*.db-shm
*.db-wal
.vs/
x64/Debug/
x64/Release/

LuaLib/x64/Release/

LuaLib/x64/Debug/

*.recipe
/ActualConsole/x64/Release
/ActualConsole/ActualConsole/x64/Release
/KernelLuaVm/x64/Release
*.rar
/distributables
/Loader
/LuaLib/luac/x64/Release
*.enc

# OpenCode session artifacts
.omo/
GoodmansKernel
